@model WebGarden_PI.Model.Board


@Html.Hidden("board", Model.Name, new {id="name"})
<legend>Details</legend>
    <div class="display-label">
         Name:
        @Html.DisplayFor(model => model.Name)
    <div class="display-label">
        Description:
        @Html.DisplayFor(model => model.Description)
       </div>
    </div>
    <p>@Html.ActionLink("voltar atrás","Details", new {id= Model.Id})</p>

