@model IEnumerable<WebGarden_PI.Model.Board>

@Html.Hidden("boardNames", @ViewData["userBoardsName"], new {id="list"})
<ul>
     @{
             if (Model != null && Model.Count() > 0){
               foreach (var board in Model)
               {
                <li>@Html.ActionLink(board.Name, "Details", "Board", new { id =  board.Id },null)
                  | @Html.ActionLink("Delete", "Delete", "Board", new { id = board.Id, IsAjaxRequest = false }, new {id="delete"}) 
                </li>   
              }
            }
              
            else
            {
           <p>Sem quadros disponíveis</p>
            }
     }

</ul>

