@using PI_MVC.Models
@model IEnumerable<PI_MVC.Models.User>

@{
    ViewBag.Title = "Gerir Utilizadores";
}

    <h2>@ViewBag.Title</h2>
    <p>Aqui tem acesso a uma listagem de utilizadores, podendo alterar os seus roles ou eliminar o utilizador da aplicação.</p>
    
    <h3>Lista de Utilizadores correntes</h3>

        <ol>
                @foreach (User u in Model) {
            <li>
                 @Html.ActionLink(u.NickName, "Profile", "User", new {userId = u.NickName },null)
            </li>
                }
        </ol>

